/Prop_AbilityImmunity.class
/Prop_AbsorbDamage$1.class
/Prop_AbsorbDamage.class
/Prop_AddDamage.class
/Prop_Adjuster.class
/Prop_AreaForSale.class
/Prop_Artifact.class
/Prop_AstralSpirit.class
/Prop_ClanEquipment.class
/Prop_Climbable.class
/Prop_CloseCommand.class
/Prop_ClosedDayNight.class
/Prop_ClosedSeason.class
/Prop_CombatAdjuster.class
/Prop_CommonTwister.class
/Prop_Crawlspace.class
/Prop_Doppleganger.class
/Prop_EnlargeRoom.class
/Prop_EnterAdjuster.class
/Prop_Familiar$Familiar.class
/Prop_Familiar.class
/Prop_FightSpellCast.class
/Prop_HaveAdjuster.class
/Prop_HaveEnabler.class
/Prop_HaveResister.class
/Prop_HaveSpellCast.class
/Prop_HaveZapper.class
/Prop_HereAdjuster.class
/Prop_HereEnabler$1.class
/Prop_HereEnabler.class
/Prop_HereSpellCast.class
/Prop_Hidden.class
/Prop_IceBox.class
/Prop_ImproveGather.class
/Prop_InstantDeath.class
/Prop_Invisibility.class
/Prop_ItemBinder$BoundOn.class
/Prop_ItemBinder$BoundTo.class
/Prop_ItemBinder.class
/Prop_ItemNoRuin.class
/Prop_ItemSlot.class
/Prop_ItemSlotFiller.class
/Prop_ItemTransReceiver.class
/Prop_ItemTransporter.class
/Prop_LangTranslator.class
/Prop_LanguageSpeaker.class
/Prop_LimitedItems.class
/Prop_LocationBound.class
/Prop_LotForSale.class
/Prop_LotsForSale$1.class
/Prop_LotsForSale$2.class
/Prop_LotsForSale$3.class
/Prop_LotsForSale$4.class
/Prop_LotsForSale.class
/Prop_MOBEmoter.class
/Prop_MagicFreedom.class
/Prop_ModExperience.class
/Prop_ModFaction.class
/Prop_NarrowLedge.class
/Prop_NewDeathMsg.class
/Prop_NoChannel.class
/Prop_NoCharm.class
/Prop_NoCraftability.class
/Prop_NoDamage.class
/Prop_NoOrdering.class
/Prop_NoPKill.class
/Prop_NoPurge.class
/Prop_NoRecall.class
/Prop_NoSummon.class
/Prop_NoTeleport.class
/Prop_NoTeleportOut.class
/Prop_NoTelling.class
/Prop_OpenCommand.class
/Prop_OpenPassword.class
/Prop_OutfitContainer$1.class
/Prop_OutfitContainer.class
/Prop_PeaceMaker.class
/Prop_PracticeDummy.class
/Prop_PrivateProperty.class
/Prop_ReRollStats$1.class
/Prop_ReRollStats.class
/Prop_ReqAlignments.class
/Prop_ReqCapacity$1.class
/Prop_ReqCapacity.class
/Prop_ReqClasses.class
/Prop_ReqEntry.class
/Prop_ReqHeight.class
/Prop_ReqLevels.class
/Prop_ReqNoMOB.class
/Prop_ReqPKill.class
/Prop_ReqRaces.class
/Prop_ReqStat.class
/Prop_ReqTattoo.class
/Prop_Resistance.class
/Prop_RestrictSkills.class
/Prop_RestrictSpells.class
/Prop_Retainable.class
/Prop_RideAdjuster.class
/Prop_RideEnabler.class
/Prop_RideResister.class
/Prop_RideSpellCast.class
/Prop_RideZapper.class
/Prop_RoomDark.class
/Prop_RoomForSale.class
/Prop_RoomLit.class
/Prop_RoomPlusForSale.class
/Prop_RoomUnmappable.class
/Prop_RoomView.class
/Prop_RoomWatch.class
/Prop_RoomsForSale.class
/Prop_SafePet.class
/Prop_ScrapExplode.class
/Prop_Smell.class
/Prop_Socials.class
/Prop_SparringRoom.class
/Prop_SpellAdder$1.class
/Prop_SpellAdder.class
/Prop_SpellReflecting.class
/Prop_StatAdjuster.class
/Prop_StatTrainer.class
/Prop_StayAboard.class
/Prop_Tattoo.class
/Prop_TattooAdder.class
/Prop_TicketTaker.class
/Prop_Trainer.class
/Prop_Transporter.class
/Prop_Trashcan.class
/Prop_Uncampable.class
/Prop_Unsellable.class
/Prop_UseSpellCast.class
/Prop_UseSpellCast2.class
/Prop_WeakBridge.class
/Prop_WeaponImmunity.class
/Prop_WearAdjuster.class
/Prop_WearEnabler.class
/Prop_WearOverride.class
/Prop_WearResister.class
/Prop_WearSpellCast.class
/Prop_WearZapper.class
/Prop_Weather.class
/Prop_WizInvis.class
/Property.class
