/FlamingSword.class
/Longsword.class
/StdWeapon.class
/Sword.class
/Claymore.class
/Katana.class
/Rapier.class
/Scimitar.class
/Shortsword.class
/ArchonStaff.class
/Arquebus.class
/BattleAxe.class
/Broom.class
/Cestus.class
/Dagger.class
/DaggerOfVenom.class
/Dirk.class
/DragonClaw.class
/DrowDagger.class
/DrowMace.class
/DrowQuarterstaff.class
/DrowSword.class
/EternityQuarterstaff.class
/GenBoffWeapon.class
/GenBow.class
/GenHandBow.class
/GenLasso.class
/GenNet.class
/GenSiegeWeapon.class
/GenSling.class
/GenSpear.class
/GenStaff.class
/GenWeapon.class
/Glaive.class
/Halberd.class
/HolyAvenger.class
/Javelin.class
/Mace.class
/Natural.class
/Quarterstaff.class
/Ruler.class
/Sabre.class
/ShieldWeapon.class
/Sickle.class
/SmallDagger.class
/SmallMace.class
/Staff.class
/StdBoffWeapon.class
/StdBow.class
/StdLasso.class
/StdNet.class
/StdSiegeWeapon.class
/StdSling.class
/StdSpear.class
/Stiletto.class
/ThrowingStone.class
/Trident.class
/TwoHandedSword.class
/WarHammer.class
/Whip.class
