/ArchonSkill.class
/Archon_Accuse.class
/Archon_Banish.class
/Archon_Freeze.class
/Archon_Hush.class
/Archon_Infect.class
/Archon_Injure.class
/Archon_MatrixPossess.class
/Archon_Metacraft.class
/Archon_Multiwatch.class
/Archon_Record.class
/Archon_Stinkify.class
/Archon_Wrath.class
