/Disease.class
/Disease_Aids.class
/Disease_Alzheimers.class
/Disease_Amnesia.class
/Disease_Anthrax.class
/Disease_Arthritis.class
/Disease_Asthma.class
/Disease_Blahs.class
/Disease_Cancer.class
/Disease_Cannibalism.class
/Disease_Carrier.class
/Disease_Chlamydia.class
/Disease_Cold.class
/Disease_Depression.class
/Disease_Fever.class
/Disease_Fleas.class
/Disease_Flu.class
/Disease_FrostBite.class
/Disease_Gangrene.class
/Disease_Giggles.class
/Disease_Gonorrhea.class
/Disease_HeatExhaustion.class
/Disease_Infection.class
/Disease_Leeches.class
/Disease_Lepresy.class
/Disease_Lockjaw.class
/Disease_Lycanthropy.class
/Disease_Lyme.class
/Disease_Magepox.class
/Disease_Malaria.class
/Disease_Migraines.class
/Disease_MummyRot.class
/Disease_Narcolepsy.class
/Disease_Obesity.class
/Disease_Plague.class
/Disease_PlanarInstability.class
/Disease_Pneumonia.class
/Disease_PoisonIvy.class
/Disease_SARS.class
/Disease_Scurvy.class
/Disease_SeaSickness.class
/Disease_Sleepwalking.class
/Disease_Smiles.class
/Disease_Syphilis.class
/Disease_Tetnus.class
/Disease_Tinnitus.class
/Disease_Vampirism.class
/Disease_Yawning.class
