/AlligatorSpeak.class
/AnimalSpeak.class
/ApeSpeak.class
/Aquan.class
/BatSpeak.class
/BearSpeak.class
/BigCatSpeak.class
/BirdSpeak.class
/Blah.class
/CatSpeak.class
/ChickenSpeak.class
/ChimpSpeak.class
/Common.class
/CowSpeak.class
/DeerSpeak.class
/DogSpeak.class
/Draconic.class
/Drowish.class
/Druidic.class
/Drunken.class
/DuckSpeak.class
/Dwarven.class
/ElephantSpeak.class
/Elvish.class
/Encrypto.class
/Fey.class
/FowlSpeak.class
/FrogSpeak.class
/GenLanguage.class
/Gigantic.class
/Gnomish.class
/GoatSpeak.class
/Goblinese.class
/GooseSpeak.class
/GreatBirdSpeak.class
/HorseSpeak.class
/Ignan.class
/InvisibleInk.class
/MonkeySpeak.class
/MooseSpeak.class
/Orcish.class
/OwlSpeak.class
/PigSpeak.class
/RabbitSpeak.class
/RavenSpeak.class
/RodentSpeak.class
/Semaphore$1.class
/Semaphore.class
/SheepSpeak.class
/SignLanguage.class
/SnakeSpeak.class
/StdLanguage.class
/ThievesCant.class
/Undercommon.class
/WolfSpeak.class
/WormSpeak.class
