/Spell.class
/Spell_AchillesArmor.class
/Spell_AcidArrow.class
/Spell_AcidFog.class
/Spell_AcidSpray.class
/Spell_AddLimb.class
/Spell_Advancement.class
/Spell_Alarm.class
/Spell_AlterSubstance.class
/Spell_AlternateReality.class
/Spell_AnalyzeDweomer.class
/Spell_Anchor.class
/Spell_AnimateItem.class
/Spell_AnimateWeapon.class
/Spell_AntiPlantShell.class
/Spell_ArcaneMark.class
/Spell_ArcanePossession.class
/Spell_ArmsLength.class
/Spell_AstralStep.class
/Spell_Augury.class
/Spell_Awe.class
/Spell_AweOther.class
/Spell_BaseClanEq.class
/Spell_BigMouth.class
/Spell_Blademouth.class
/Spell_Blindness.class
/Spell_Blink.class
/Spell_Blur.class
/Spell_Boomerang.class
/Spell_Brainwash.class
/Spell_Breadcrumbs.class
/Spell_BurningHands.class
/Spell_CEqAcid.class
/Spell_CEqCold.class
/Spell_CEqDisease.class
/Spell_CEqElectric.class
/Spell_CEqFire.class
/Spell_CEqGas.class
/Spell_CEqMind.class
/Spell_CEqParalysis.class
/Spell_CEqPoison.class
/Spell_CEqWater.class
/Spell_CauseStink.class
/Spell_ChainLightening.class
/Spell_ChangeSex.class
/Spell_ChanneledMissiles$1.class
/Spell_ChanneledMissiles.class
/Spell_ChantShield.class
/Spell_Charm.class
/Spell_CharmWard.class
/Spell_Choke.class
/Spell_Claireaudience.class
/Spell_Clairevoyance.class
/Spell_ClanDonate.class
/Spell_ClanExperience.class
/Spell_ClanHome.class
/Spell_ClarifyScroll.class
/Spell_Clog.class
/Spell_Clone.class
/Spell_Cloudkill.class
/Spell_Cogniportive.class
/Spell_ColorSpray.class
/Spell_CombatPrecognition.class
/Spell_Command.class
/Spell_ComprehendLangs.class
/Spell_Confusion.class
/Spell_ConjureNexus.class
/Spell_ContinualLight.class
/Spell_Counterspell.class
/Spell_Darkness.class
/Spell_DarknessGlobe.class
/Spell_Daydream.class
/Spell_DeadenSmell.class
/Spell_Deafness.class
/Spell_DeathWarning.class
/Spell_Delay.class
/Spell_Delirium.class
/Spell_Delude.class
/Spell_DemonGate.class
/Spell_DestroyObject.class
/Spell_DetectAmbush.class
/Spell_DetectGold.class
/Spell_DetectHidden.class
/Spell_DetectInvisible.class
/Spell_DetectMagic.class
/Spell_DetectMetal.class
/Spell_DetectPoison.class
/Spell_DetectScrying.class
/Spell_DetectSentience.class
/Spell_DetectTraps.class
/Spell_DetectUndead.class
/Spell_DetectWater.class
/Spell_DetectWeaknesses.class
/Spell_Disenchant.class
/Spell_DisenchantWand.class
/Spell_DisguiseOther.class
/Spell_DisguiseSelf.class
/Spell_DisguiseUndead.class
/Spell_Disintegrate.class
/Spell_Dismissal.class
/Spell_DispelDivination.class
/Spell_DispelMagic.class
/Spell_DistantVision.class
/Spell_DivineBeauty.class
/Spell_DiviningEye.class
/Spell_Dragonfire.class
/Spell_Dream.class
/Spell_Duplicate.class
/Spell_Earthquake.class
/Spell_ElementalStorm.class
/Spell_EnchantArmor.class
/Spell_EnchantArrows.class
/Spell_EnchantWand.class
/Spell_EnchantWeapon.class
/Spell_EndlessRoad.class
/Spell_Enlarge.class
/Spell_Enlightenment.class
/Spell_Ensnare.class
/Spell_Enthrall.class
/Spell_Erase.class
/Spell_Exhaustion.class
/Spell_Fabricate.class
/Spell_FaerieFire.class
/Spell_FaerieFog.class
/Spell_FakeArmor.class
/Spell_FakeFood.class
/Spell_FakeSpring.class
/Spell_FakeWeapon.class
/Spell_Farsight.class
/Spell_Fatigue.class
/Spell_Fear.class
/Spell_FeatherFall.class
/Spell_Feeblemind.class
/Spell_FeelTheVoid.class
/Spell_FeignDeath.class
/Spell_FeignInvisibility.class
/Spell_FindDirections.class
/Spell_FindFamiliar.class
/Spell_Fireball.class
/Spell_Flagportation.class
/Spell_Flameshield.class
/Spell_FlamingArrows.class
/Spell_FlamingEnsnarement.class
/Spell_FlamingSword.class
/Spell_FleshStone.class
/Spell_FloatingDisc.class
/Spell_Fly.class
/Spell_FoolsGold.class
/Spell_ForcefulHand.class
/Spell_Forget.class
/Spell_ForkedLightning.class
/Spell_Frailty.class
/Spell_FreeMovement.class
/Spell_Frenzy.class
/Spell_Friends.class
/Spell_Frost.class
/Spell_FutureDeath.class
/Spell_Gate.class
/Spell_Geas.class
/Spell_GhostSound.class
/Spell_GiantStrength.class
/Spell_GraceOfTheCat.class
/Spell_GravitySlam.class
/Spell_Grease.class
/Spell_GreaterImage.class
/Spell_GreaterInvisibility.class
/Spell_GroupStatus.class
/Spell_Grow.class
/Spell_GustOfWind.class
/Spell_Haste.class
/Spell_HearThoughts.class
/Spell_HeatMetal.class
/Spell_HelpingHand.class
/Spell_Hold.class
/Spell_Hunger.class
/Spell_Hungerless.class
/Spell_IceLance.class
/Spell_IceSheet.class
/Spell_IceStorm.class
/Spell_IdentifyObject.class
/Spell_Ignite.class
/Spell_IllusoryDisease.class
/Spell_IllusoryWall.class
/Spell_Immunity.class
/Spell_ImprovedInvisibility.class
/Spell_ImprovedPolymorph.class
/Spell_IncreaseGravity.class
/Spell_Infravision.class
/Spell_InsatiableThirst.class
/Spell_InsectPlague.class
/Spell_Invisibility.class
/Spell_InvisibilitySphere.class
/Spell_IronGrip.class
/Spell_Irritation.class
/Spell_KeenEdge.class
/Spell_KineticBubble.class
/Spell_Knock.class
/Spell_KnowAlignment.class
/Spell_KnowBliss.class
/Spell_KnowFate.class
/Spell_KnowOrigin.class
/Spell_KnowPain.class
/Spell_KnowValue.class
/Spell_Laughter.class
/Spell_LedFoot.class
/Spell_LesserImage.class
/Spell_Levitate.class
/Spell_Light.class
/Spell_LightSensitivity.class
/Spell_LightenItem.class
/Spell_Lighthouse.class
/Spell_Lightning.class
/Spell_LimbRack.class
/Spell_LocateObject.class
/Spell_LowerResists.class
/Spell_MageArmor.class
/Spell_MageClaws.class
/Spell_MagicBullets.class
/Spell_MagicItem.class
/Spell_MagicMissile.class
/Spell_MagicMouth.class
/Spell_MagicalAura.class
/Spell_MajManaShield.class
/Spell_MajorGlobe.class
/Spell_ManaBurn.class
/Spell_ManaShield.class
/Spell_MarkerPortal.class
/Spell_MarkerSummoning.class
/Spell_MassDisintegrate.class
/Spell_MassFeatherfall.class
/Spell_MassFly.class
/Spell_MassHaste.class
/Spell_MassHold.class
/Spell_MassInvisibility.class
/Spell_MassSleep.class
/Spell_MassSlow.class
/Spell_MassWaterbreath.class
/Spell_Meld.class
/Spell_Mend.class
/Spell_MeteorStorm.class
/Spell_MinManaShield.class
/Spell_MindBlock.class
/Spell_MindFog.class
/Spell_MindLight.class
/Spell_MinorGlobe.class
/Spell_MinorImage.class
/Spell_Mirage.class
/Spell_MirrorImage.class
/Spell_Misstep.class
/Spell_Mute.class
/Spell_MysticShine.class
/Spell_NaturalCommunion.class
/Spell_Nightmare.class
/Spell_Nondetection.class
/Spell_ObscureSelf.class
/Spell_PassDoor.class
/Spell_Permanency.class
/Spell_Phantasm.class
/Spell_PhantomHound.class
/Spell_Planeshift.class
/Spell_Pocket.class
/Spell_Polymorph.class
/Spell_PolymorphObject.class
/Spell_PolymorphSelf.class
/Spell_Portal.class
/Spell_PortalOther.class
/Spell_PrayerShield.class
/Spell_PredictWeather.class
/Spell_ProduceFlame.class
/Spell_PryingEye.class
/Spell_PurgeInvisibility.class
/Spell_ReadMagic.class
/Spell_RechargeWand.class
/Spell_Refit.class
/Spell_Reinforce.class
/Spell_RepairingAura.class
/Spell_Repulsion.class
/Spell_ResistAcid.class
/Spell_ResistArrows.class
/Spell_ResistBludgeoning.class
/Spell_ResistCold.class
/Spell_ResistDisease.class
/Spell_ResistElectricity.class
/Spell_ResistFire.class
/Spell_ResistGas.class
/Spell_ResistIndignities.class
/Spell_ResistMagicMissiles.class
/Spell_ResistParalyzation.class
/Spell_ResistPetrification.class
/Spell_ResistPiercing.class
/Spell_ResistPoison.class
/Spell_ResistSlashing.class
/Spell_ReverseGravity.class
/Spell_RogueLimb.class
/Spell_Scatter.class
/Spell_Scribe.class
/Spell_Scry.class
/Spell_SeeAura.class
/Spell_ShapeObject.class
/Spell_Shatter.class
/Spell_Shelter.class
/Spell_Shield.class
/Spell_ShockingGrasp.class
/Spell_Shockshield.class
/Spell_Shove.class
/Spell_Shrink.class
/Spell_ShrinkMouth.class
/Spell_Silence.class
/Spell_Simulacrum.class
/Spell_Siphon.class
/Spell_Sleep.class
/Spell_Slow.class
/Spell_SlowProjectiles.class
/Spell_SolveMaze.class
/Spell_Sonar.class
/Spell_SongShield.class
/Spell_SpellTurning.class
/Spell_Spellbinding.class
/Spell_SpiderClimb.class
/Spell_Spook.class
/Spell_SpottersOrders.class
/Spell_SpyingStone.class
/Spell_StinkingCloud.class
/Spell_StoneFlesh.class
/Spell_Stoneskin.class
/Spell_StoreSpell.class
/Spell_Summon.class
/Spell_SummonArmy.class
/Spell_SummonCompanion.class
/Spell_SummonEnemy.class
/Spell_SummonFlyer.class
/Spell_SummonMarker.class
/Spell_SummonMonster.class
/Spell_SummonSteed.class
/Spell_SummoningWard.class
/Spell_SuperiorImage.class
/Spell_Telepathy.class
/Spell_Teleport.class
/Spell_TeleportObject.class
/Spell_TeleportationWard.class
/Spell_Thirstless.class
/Spell_TimeStop.class
/Spell_Timeport.class
/Spell_Toadstool.class
/Spell_Torture.class
/Spell_Tourettes.class
/Spell_Transformation.class
/Spell_TrueSight$1.class
/Spell_TrueSight$2.class
/Spell_TrueSight.class
/Spell_Ugliness.class
/Spell_Untraceable.class
/Spell_Ventriloquate.class
/Spell_WallOfAir.class
/Spell_WallOfDarkness.class
/Spell_WallOfFire.class
/Spell_WallOfForce.class
/Spell_WallOfIce.class
/Spell_WallOfStone.class
/Spell_WardArea.class
/Spell_WatchfulHound$1.class
/Spell_WatchfulHound.class
/Spell_WaterBreathing.class
/Spell_WaterCannon.class
/Spell_Weaken.class
/Spell_WeaknessAcid.class
/Spell_WeaknessCold.class
/Spell_WeaknessElectricity.class
/Spell_WeaknessFire.class
/Spell_WeaknessGas.class
/Spell_Web.class
/Spell_WellDressed.class
/Spell_Wish.class
/Spell_WizardLock.class
/Spell_WizardsChest.class
/Spell_WordRecall.class
/Spell_Youth.class
