/Ability.class
/CraftorAbility.class
/DiseaseAffect.class
/ExtendableAbility.class
/HealthCondition.class
/ItemCraftor$ItemKeyPair.class
/ItemCraftor.class
/ItemTicker.class
/Language.class
/LimbDamage.class
/MendingSkill.class
/Trap.class
/TriggeredAffect.class
