/Prayer.class
/Prayer_Absorption.class
/Prayer_AcidHealing.class
/Prayer_Adoption.class
/Prayer_AiryForm.class
/Prayer_Anger.class
/Prayer_AnimalSpirit$AnimalSpirit.class
/Prayer_AnimalSpirit.class
/Prayer_AnimateDead.class
/Prayer_AnimateGhast.class
/Prayer_AnimateGhost.class
/Prayer_AnimateGhoul.class
/Prayer_AnimateMummy.class
/Prayer_AnimateSkeleton.class
/Prayer_AnimateSpectre.class
/Prayer_AnimateVampire.class
/Prayer_AnimateZombie.class
/Prayer_Annul.class
/Prayer_AntiUndeadField.class
/Prayer_Atonement.class
/Prayer_AuraDivineEdict.class
/Prayer_AuraFear.class
/Prayer_AuraHarm.class
/Prayer_AuraHeal.class
/Prayer_AuraIntolerance.class
/Prayer_AuraStrife.class
/Prayer_Avatar.class
/Prayer_Awaken.class
/Prayer_Behemoth.class
/Prayer_Benediction.class
/Prayer_BirdsEye.class
/Prayer_BladeBarrier.class
/Prayer_Bless.class
/Prayer_BlessItem.class
/Prayer_BlessedHearth.class
/Prayer_Blindness.class
/Prayer_Blindsight.class
/Prayer_Bloatbomb.class
/Prayer_BloodHearth.class
/Prayer_BloodMoon.class
/Prayer_BoneMoon.class
/Prayer_BrighteningAura.class
/Prayer_Bury.class
/Prayer_CallUndead.class
/Prayer_Calm.class
/Prayer_Cannibalism.class
/Prayer_CauseCritical.class
/Prayer_CauseExhaustion.class
/Prayer_CauseFatigue.class
/Prayer_CauseLight.class
/Prayer_CauseSerious.class
/Prayer_ChainStrike.class
/Prayer_Christen.class
/Prayer_Cleanliness.class
/Prayer_Condemnation.class
/Prayer_ConsecrateLand.class
/Prayer_Contagion.class
/Prayer_Conviction.class
/Prayer_CorpseWalk.class
/Prayer_Corruption.class
/Prayer_CreateFood.class
/Prayer_CreateIdol.class
/Prayer_CreateWater.class
/Prayer_CureBlindness.class
/Prayer_CureCannibalism.class
/Prayer_CureCritical.class
/Prayer_CureDeafness.class
/Prayer_CureDisease.class
/Prayer_CureExhaustion.class
/Prayer_CureFatigue.class
/Prayer_CureLight.class
/Prayer_CureSerious.class
/Prayer_CureVampirism.class
/Prayer_Curse.class
/Prayer_CurseFlames.class
/Prayer_CurseItem.class
/Prayer_CurseLuck.class
/Prayer_CurseMetal.class
/Prayer_CurseMind.class
/Prayer_CurseMinds.class
/Prayer_DailyBread.class
/Prayer_DarkSenses.class
/Prayer_DarkeningAura.class
/Prayer_Deafness.class
/Prayer_DeathGuard.class
/Prayer_DeathKnell.class
/Prayer_Deathfinger.class
/Prayer_DeathsDoor.class
/Prayer_DemonicConsumption.class
/Prayer_Demonshield.class
/Prayer_Desecrate.class
/Prayer_DesecrateLand.class
/Prayer_Designation.class
/Prayer_DevourerCurse.class
/Prayer_Disenchant.class
/Prayer_Disown.class
/Prayer_DispelEvil.class
/Prayer_DispelGood.class
/Prayer_DispelUndead.class
/Prayer_DivineConstitution.class
/Prayer_DivineFavor.class
/Prayer_DivineGuidance.class
/Prayer_DivineLuck.class
/Prayer_DivinePerspective.class
/Prayer_DivineResistance.class
/Prayer_Divorce.class
/Prayer_DoomAura.class
/Prayer_Doomspout.class
/Prayer_Drain.class
/Prayer_DreamFeast.class
/Prayer_DrunkenStupor.class
/Prayer_EarthMud.class
/Prayer_Earthshield.class
/Prayer_ElectricHealing.class
/Prayer_ElectricStrike.class
/Prayer_Ember.class
/Prayer_Enervate.class
/Prayer_Etherealness.class
/Prayer_Extinguish.class
/Prayer_Faithless.class
/Prayer_FeedTheDead.class
/Prayer_FeignLife.class
/Prayer_Fertilize.class
/Prayer_Fidelity.class
/Prayer_FireHealing.class
/Prayer_FlameWeapon.class
/Prayer_FleshRock.class
/Prayer_Forgive.class
/Prayer_FortifyFood.class
/Prayer_Fortress.class
/Prayer_FountainLife.class
/Prayer_Freedom.class
/Prayer_FreezeMetal.class
/Prayer_Gateway.class
/Prayer_Gills.class
/Prayer_GodLight.class
/Prayer_Godstrike.class
/Prayer_GreatCurse.class
/Prayer_GuardianHearth.class
/Prayer_Harm.class
/Prayer_Haunted.class
/Prayer_Heal.class
/Prayer_HealMount.class
/Prayer_HealUndead.class
/Prayer_HealingAura.class
/Prayer_Hellfire.class
/Prayer_Heresy.class
/Prayer_HoldUndead.class
/Prayer_HolyAura.class
/Prayer_HolyDay.class
/Prayer_HolyShield.class
/Prayer_HolyWind.class
/Prayer_HolyWord.class
/Prayer_HuntEvil.class
/Prayer_HuntGood.class
/Prayer_IceHealing.class
/Prayer_InciteDead.class
/Prayer_InfuseBalance.class
/Prayer_InfuseHoliness.class
/Prayer_InfuseUnholiness.class
/Prayer_Invigorate.class
/Prayer_JoyousRapture.class
/Prayer_Judgement.class
/Prayer_LightHammer.class
/Prayer_LinkedHealth.class
/Prayer_LowerLaw.class
/Prayer_MajorInfusion.class
/Prayer_Maladiction.class
/Prayer_Marry.class
/Prayer_MassBlindness.class
/Prayer_MassCureDisease.class
/Prayer_MassDeafness.class
/Prayer_MassFreedom.class
/Prayer_MassGrave.class
/Prayer_MassHarm.class
/Prayer_MassHeal.class
/Prayer_MassMobility.class
/Prayer_MassParalyze.class
/Prayer_Mercy.class
/Prayer_MinorInfusion.class
/Prayer_ModerateInfusion.class
/Prayer_Monolith.class
/Prayer_MoralBalance.class
/Prayer_NeutralizeLand.class
/Prayer_Nullification.class
/Prayer_Omnipresence.class
/Prayer_Paralyze.class
/Prayer_PeaceRitual.class
/Prayer_Philosophy.class
/Prayer_PietyCurse.class
/Prayer_Plague.class
/Prayer_PlanarTravel.class
/Prayer_Poison.class
/Prayer_Position.class
/Prayer_PreserveBody.class
/Prayer_Prophecy.class
/Prayer_ProtCold.class
/Prayer_ProtCurses.class
/Prayer_ProtDisease.class
/Prayer_ProtEvil.class
/Prayer_ProtFire.class
/Prayer_ProtGood.class
/Prayer_ProtOutsiders.class
/Prayer_ProtParalyzation.class
/Prayer_ProtPoison.class
/Prayer_ProtUndead.class
/Prayer_ProtectElements.class
/Prayer_ProtectHealth.class
/Prayer_Purify.class
/Prayer_Refresh.class
/Prayer_Refuge$1.class
/Prayer_Refuge.class
/Prayer_Regeneration.class
/Prayer_Regrowth.class
/Prayer_ReligiousDoubt.class
/Prayer_RemoveCurse.class
/Prayer_RemoveDeathMark.class
/Prayer_RemoveParalysis.class
/Prayer_RemovePoison.class
/Prayer_Restoration.class
/Prayer_RestoreSmell.class
/Prayer_RestoreVoice.class
/Prayer_Resurrect.class
/Prayer_ResurrectMount.class
/Prayer_Retribution.class
/Prayer_Revival.class
/Prayer_RighteousIndignation.class
/Prayer_RockFlesh.class
/Prayer_Rockskin.class
/Prayer_Rot.class
/Prayer_Sacrifice.class
/Prayer_SanctifyRoom.class
/Prayer_Sanctimonious.class
/Prayer_Sanctuary.class
/Prayer_Sanctum.class
/Prayer_SeekersPrayer.class
/Prayer_SenseAlignment.class
/Prayer_SenseAllergies.class
/Prayer_SenseDisease.class
/Prayer_SenseEvil.class
/Prayer_SenseFaithful$1.class
/Prayer_SenseFaithful.class
/Prayer_SenseGood.class
/Prayer_SenseHidden.class
/Prayer_SenseInjury.class
/Prayer_SenseInvisible.class
/Prayer_SenseLife.class
/Prayer_SenseMagic.class
/Prayer_SensePrayers.class
/Prayer_SenseProfessions.class
/Prayer_SenseSkills.class
/Prayer_SenseSongs.class
/Prayer_SenseSpells.class
/Prayer_SenseTraps.class
/Prayer_SenseUndead.class
/Prayer_Sermon.class
/Prayer_Silence.class
/Prayer_SnakeStaff.class
/Prayer_Sober.class
/Prayer_SoulPeering.class
/Prayer_SpeakWithDead.class
/Prayer_Stasis.class
/Prayer_Stoning.class
/Prayer_SummonElemental.class
/Prayer_SunCurse.class
/Prayer_TaintOfEvil.class
/Prayer_Thunderbolt.class
/Prayer_Tithe.class
/Prayer_Tremor.class
/Prayer_TrueResurrection.class
/Prayer_UndeadInvisibility.class
/Prayer_UndeniableFaith.class
/Prayer_UnholyArmament.class
/Prayer_UnholyPortent.class
/Prayer_UnholyWord.class
/Prayer_Vampirism.class
/Prayer_Wave.class
/Prayer_Weather.class
/Prayer_Wings.class
