/Aarakocran.class
/AirElemental.class
/Alligator.class
/Angelfish.class
/Animal.class
/Ape.class
/Arachnid.class
/AshMephit.class
/Avariel.class
/Barghest.class
/Bat.class
/Bear.class
/Beholder.class
/Bird.class
/Blob.class
/Buffalo.class
/Bull.class
/Bullywug.class
/Calf.class
/Cat.class
/Centaur.class
/Centipede.class
/Chicken.class
/Chimp.class
/ClayGolem.class
/Clockwork.class
/ClownFish.class
/Cobra.class
/Cow.class
/Crocodile.class
/Cub.class
/Deer.class
/Demodand.class
/Demon.class
/Deva.class
/Devil.class
/DireRat.class
/DireWolf.class
/Dog.class
/Doll.class
/Dolphin.class
/Draconian.class
/Dragon.class
/Drow.class
/Dryad.class
/Duck.class
/Duergar.class
/Dummy.class
/DustMephit.class
/Dwarf.class
/Eagle.class
/EarthElemental.class
/ElectricityElemental.class
/Elephant.class
/Elf.class
/Equine.class
/Faerie.class
/FaerieDragon.class
/Fey.class
/Fido.class
/FireElemental.class
/Fish.class
/Flower.class
/Fox.class
/Frog.class
/GardenSnake.class
/Gargoyle.class
/GenRace.class
/Giant.class
/GiantAmphibian.class
/GiantAnimal.class
/GiantFish.class
/GiantInsect.class
/GiantLizard.class
/GiantRat.class
/GiantScorpion.class
/GiantSpider.class
/GiantTurtle.class
/GiantWolf.class
/GiantWorm.class
/Githyanki.class
/Gnoll.class
/Gnome.class
/Goat.class
/Goblin.class
/Goose.class
/Gorilla.class
/Grasshopper.class
/GreatAmphibian.class
/GreatBird.class
/GreatCat.class
/GreatFish.class
/GreatLizard.class
/Griffon.class
/HalfElf.class
/Halfling.class
/Harpy.class
/Hawk.class
/Hobbit.class
/Hobgoblin.class
/Horse.class
/Human.class
/Humanoid.class
/IceMephit.class
/Insect.class
/Jelly.class
/Kitten.class
/Kobold.class
/Lich.class
/LightMephit.class
/LightningMephit.class
/Lion.class
/Lizard.class
/LizardMan.class
/MagmaMephit.class
/ManScorpion.class
/Manticore.class
/Mephit.class
/Merfolk.class
/MetalGolem.class
/Mindflayer.class
/MineralMephit.class
/Minotaur.class
/Mold.class
/Monkey.class
/Moose.class
/Mouse.class
/Naga.class
/Nymph.class
/Ogre.class
/OozeMephit.class
/Orc.class
/Owl.class
/Pachyderm.class
/Penguin.class
/Pig.class
/Pixie.class
/Planetar.class
/Plant.class
/PlayerRace.class
/Puma.class
/Puppy.class
/Python.class
/Rabbit.class
/Rat.class
/Raven.class
/Robin.class
/Rodent.class
/SaltMephit.class
/Sasquatch.class
/Scarab.class
/SchoolMonster.class
/Scorpion.class
/Seal.class
/Selkie.class
/Shadow.class
/Shambler.class
/Shark.class
/Sheep.class
/Skeleton.class
/Slaad.class
/Slime.class
/SmallElfKin.class
/SmallFish.class
/SmokeMephit.class
/Smurf.class
/Snake.class
/Solar.class
/SongBird.class
/Spider.class
/Spirit.class
/Squirrel.class
/StdRace$1.class
/StdRace$2.class
/StdRace$3.class
/StdRace$4.class
/StdRace.class
/SteamMephit.class
/Stone.class
/StoneGolem.class
/Svirfneblin.class
/Swordfish.class
/Tabaxi.class
/Tarantula.class
/Toadstool.class
/TreeGolem.class
/Troll.class
/Tumbleweed.class
/Turtle.class
/UmberHulk.class
/Undead.class
/Unicorn.class
/Unique.class
/Vine.class
/VoidMephit.class
/Walrus.class
/WaterElemental.class
/WaterFowl.class
/Wemic.class
/WereAmphibian.class
/WereAnimal.class
/WereBat.class
/WereBear.class
/WereRat.class
/WereWolf.class
/Whale.class
/Wolf.class
/WoodGolem.class
/Worm.class
/Wyvern.class
/Yugoloth.class
