/PreviousCmd.class
/StdCommand$1.class
/StdCommand.class
/AFK.class
/AHelp.class
/ANSI.class
/ATopics.class
/Above.class
/Account.class
/Achievements$NonAgentList.class
/Achievements$ValidLists.class
/Achievements$ValidParms.class
/Achievements.class
/Activate.class
/Affect.class
/Aft.class
/After$AfterCommand.class
/After.class
/Alias$1$1.class
/Alias$1$2.class
/Alias$1.class
/Alias$2.class
/Alias.class
/Announce.class
/Areas$1.class
/Areas$2.class
/Areas$3.class
/Areas$4.class
/Areas.class
/As.class
/At.class
/Auction.class
/AutoAffects.class
/AutoAssist.class
/AutoDraw.class
/AutoExits.class
/AutoGold.class
/AutoGuard.class
/AutoImprovement.class
/AutoInvoke$1.class
/AutoInvoke$2$1$1.class
/AutoInvoke$2$1.class
/AutoInvoke$2.class
/AutoInvoke$AutoInvokeCommand.class
/AutoInvoke.class
/AutoLoot.class
/AutoMap.class
/AutoMelee.class
/AutoNotify.class
/AutoRun.class
/AutoWeather.class
/Autoforward.class
/Ban.class
/Beacon.class
/Below.class
/Bid.class
/Boot.class
/Borrow.class
/Brief.class
/Buy.class
/Catalog$1.class
/Catalog.class
/ChanWho.class
/Channel.class
/Channels.class
/Chants.class
/CharGen$1.class
/CharGen$CombatStats.class
/CharGen.class
/ClanAccept.class
/ClanApply.class
/ClanAssign.class
/ClanCreate$1$1$1$1.class
/ClanCreate$1$1$1.class
/ClanCreate$1$1.class
/ClanCreate$1.class
/ClanCreate.class
/ClanDeclare.class
/ClanDetails$1.class
/ClanDetails$2.class
/ClanDetails.class
/ClanDonateSet.class
/ClanExile.class
/ClanHomeSet.class
/ClanList.class
/ClanMorgueSet.class
/ClanPremise$1.class
/ClanPremise.class
/ClanQual$1$1.class
/ClanQual$1.class
/ClanQual.class
/ClanReject.class
/ClanResign$1.class
/ClanResign.class
/ClanTax$1.class
/ClanTax.class
/ClanVote.class
/ClanWho.class
/Cloak.class
/Close.class
/ColorSet$1.class
/ColorSet$2$1.class
/ColorSet$2$2$1.class
/ColorSet$2$2.class
/ColorSet$2.class
/ColorSet.class
/CommandJournal.class
/Commands.class
/Compare.class
/Compress.class
/Config.class
/Consider.class
/Copy.class
/Crawl.class
/Create.class
/Credits.class
/Deactivate.class
/Deities.class
/Deposit.class
/Description.class
/Destroy$1.class
/Destroy.class
/Deviations.class
/Dig.class
/Dismount.class
/Display.class
/Down.class
/Draw.class
/Dress.class
/DrinkCmd.class
/Drop.class
/Duel.class
/DumpFile.class
/East.class
/Eat.class
/Email.class
/Emote.class
/Empty.class
/Enter.class
/Equipment.class
/Every$EveryWhat.class
/Every.class
/Examine.class
/Exits.class
/Experience.class
/Expertises.class
/Expire.class
/Export.class
/FactionList.class
/Feed.class
/Fill.class
/Fire.class
/Flee.class
/Follow.class
/Foreward.class
/Formation.class
/Friends.class
/GConsider.class
/GModify.class
/GTell.class
/Gain.class
/Generate.class
/Get.class
/Give.class
/Go.class
/Goto.class
/Group.class
/Help.class
/HelpList.class
/Hire.class
/Hold.class
/I3Cmd.class
/IMC2.class
/Ignore.class
/Import.class
/Inventory$InventoryList.class
/Inventory.class
/JConsole$JScriptEvent.class
/JConsole.class
/JRun$JScriptWindow.class
/JRun.class
/Kill.class
/Knock.class
/Languages.class
/Learn.class
/LineWrap.class
/Link.class
/ListCmd$1.class
/ListCmd$10.class
/ListCmd$11.class
/ListCmd$12.class
/ListCmd$13.class
/ListCmd$14.class
/ListCmd$15.class
/ListCmd$2.class
/ListCmd$3.class
/ListCmd$4.class
/ListCmd$5.class
/ListCmd$6.class
/ListCmd$7.class
/ListCmd$8.class
/ListCmd$9.class
/ListCmd$ListAreaStats.class
/ListCmd$ListCmdEntry.class
/ListCmd$SpaceFilterCode.class
/ListCmd$WikiFlag.class
/ListCmd$WorldFilter.class
/ListCmd.class
/Load.class
/Lock.class
/Logoff$1.class
/Logoff.class
/Look.class
/MOTD.class
/MPRun.class
/MXP.class
/Merge$1.class
/Merge$2.class
/Merge.class
/MetaMsgCommand.class
/Modify.class
/Mood.class
/Mount.class
/NOMXP.class
/NoANSI.class
/NoBattleSpam.class
/NoChannel.class
/NoFollow.class
/NoPurge.class
/NoSounds.class
/NoTeach.class
/North.class
/Northeast.class
/Northwest.class
/Open.class
/Order.class
/OutFit.class
/Package.class
/PageBreak.class
/Password$1$1$1.class
/Password$1$1.class
/Password$1.class
/Password.class
/Pause.class
/PlayerKill.class
/PollCmd.class
/Poof.class
/Portside.class
/Pose.class
/Possess.class
/Pour$PourVerb.class
/Pour.class
/Practice.class
/Prayers.class
/Prompt.class
/Pull.class
/Purge.class
/Push.class
/Put.class
/Qualify$1.class
/Qualify.class
/Questwins$1.class
/Questwins.class
/Quiet.class
/Quit$1.class
/Quit.class
/Read.class
/Rebuke.class
/Remort$1$1$1.class
/Remort$1$1.class
/Remort$1.class
/Remort$RemortRetain.class
/Remort.class
/Remove.class
/Replay.class
/Reply.class
/Report.class
/Reset$1.class
/Reset$helpSets$1.class
/Reset$helpSets$10.class
/Reset$helpSets$2.class
/Reset$helpSets$3.class
/Reset$helpSets$4.class
/Reset$helpSets$5.class
/Reset$helpSets$6.class
/Reset$helpSets$7.class
/Reset$helpSets$8.class
/Reset$helpSets$9.class
/Reset$helpSets.class
/Reset.class
/Restring.class
/Retire$1$1.class
/Retire$1.class
/Retire.class
/Rules.class
/Run.class
/Save$SaveTask.class
/Save.class
/Say.class
/Score.class
/Sell.class
/Serve.class
/Sheath.class
/Shell$1.class
/Shell$SubCmds.class
/Shell$cp_options.class
/Shell.class
/Shutdown$1.class
/Shutdown.class
/Sit.class
/Skills.class
/Sleep.class
/Sniff.class
/Snoop.class
/SocialsCmd.class
/Songs.class
/Sounds.class
/South.class
/Southeast.class
/Southwest.class
/Spells.class
/Split.class
/Stand.class
/Starboard.class
/Stat.class
/Switch.class
/SysMsgs.class
/Take.class
/Teach.class
/Tell.class
/Test$1.class
/Test.class
/Throw.class
/TickTock.class
/Time.class
/Title$1.class
/Title.class
/Top.class
/Topics.class
/TrailTo.class
/Train.class
/Transfer.class
/TypeCmd.class
/UnLink.class
/Undress.class
/Unload.class
/Unlock.class
/Up.class
/Value.class
/Vassals.class
/Ver.class
/View.class
/Visible.class
/Wake.class
/Wealth.class
/Wear.class
/Weather.class
/West.class
/Where$1.class
/Where.class
/Whisper.class
/Who.class
/WhoIs.class
/Wield.class
/WillQualify.class
/Wimpy.class
/Withdraw.class
/WizEmote.class
/WizInv.class
/WizList.class
/Xml.class
/Yell.class
