/Acidbreath.class
/Addictions.class
/Age$1.class
/Age.class
/Allergies.class
/Amputation.class
/Antidote.class
/AutoStack.class
/BadReputation.class
/Bleeding.class
/BrokenLimbs.class
/Burning.class
/CombatSleep.class
/Copyright.class
/DiseaseCure.class
/Dragonbreath.class
/Dueler.class
/Falling.class
/Firebreath.class
/Frostbreath.class
/Gasbreath.class
/GravityFloat$1.class
/GravityFloat$PossiblyFloater.class
/GravityFloat.class
/Immunities.class
/Injury$1.class
/Injury.class
/ItemRejuv.class
/Lighteningbreath.class
/Loyalty.class
/Mood.class
/Paralysis.class
/Pregnancy.class
/PresenceReaction.class
/Prisoner.class
/QuestBound.class
/Regeneration.class
/Sinking.class
/SlowLearner.class
/Soiled.class
/SoundEcho.class
/TemporaryAffects.class
/TemporaryImmunity.class
/Truce.class
/Undead_ColdTouch.class
/Undead_EnergyDrain.class
/Undead_LifeDrain.class
/Undead_WeakEnergyDrain.class
/WanderHomeLater.class
/WeakParalysis.class
/WingFlying.class
