/Abjurer.class
/Alterer.class
/Apprentice.class
/Arcanist.class
/Archon.class
/Artisan.class
/Assassin.class
/Barbarian.class
/Bard.class
/Beastmaster.class
/Burglar.class
/Charlatan.class
/Cleric.class
/Conjurer.class
/Delver.class
/Diviner.class
/Doomsayer.class
/Druid.class
/Enchanter.class
/Evoker.class
/Fighter.class
/Gaian.class
/Gaoler.class
/GenCharClass.class
/Healer.class
/Illusionist.class
/Jester.class
/Mage.class
/Mer$1.class
/Mer.class
/Minstrel.class
/Missionary.class
/Monk.class
/Necromancer.class
/Oracle.class
/Paladin.class
/Pirate$1.class
/Pirate$2$1.class
/Pirate$2.class
/Pirate.class
/PlayerClass.class
/Prancer.class
/Purist.class
/Qualifier.class
/Ranger.class
/Sailor.class
/Scholar.class
/Shaman.class
/SkyWatcher.class
/SpecialistMage.class
/StdCharClass.class
/Templar.class
/Thief.class
/Transmuter.class
/Trapper.class
/Wizard.class
