/Inebriation.class
/Poison.class
/Poison_Alcohol.class
/Poison_BeeSting.class
/Poison_Bloodboil.class
/Poison_Caffeine.class
/Poison_Decreptifier.class
/Poison_Firebreather.class
/Poison_Ghoultouch.class
/Poison_Glowgell.class
/Poison_GoblinDrip.class
/Poison_Heartstopper.class
/Poison_Hives.class
/Poison_Liquor.class
/Poison_Mindsap.class
/Poison_Peppersauce.class
/Poison_Rotten.class
/Poison_Slumberall.class
/Poison_Sting.class
/Poison_Venom.class
/Poison_XXX.class
