/Ammunition.class
/AmmunitionWeapon.class
/ArchonOnly.class
/Armor$SizeDeviation.class
/Armor.class
/BoardableShip.class
/Book.class
/CagedAnimal.class
/ClanItem$ClanItemType.class
/ClanItem.class
/Coins.class
/Container.class
/DeadBody.class
/DoorKey.class
/ElecPanel.class
/Electronics.class
/FalseLimb.class
/Food.class
/InnKey.class
/Item.class
/Light.class
/MagicDust.class
/MiscMagic.class
/MusicalInstrument$InstrumentType.class
/MusicalInstrument.class
/PackagedItems.class
/Perfume.class
/Pill.class
/Potion.class
/RawMaterial$CODES$1.class
/RawMaterial$CODES$2.class
/RawMaterial$CODES$3.class
/RawMaterial$CODES.class
/RawMaterial$DefResource.class
/RawMaterial$Material.class
/RawMaterial$ResourceFlag.class
/RawMaterial.class
/Recipe.class
/RoomMap.class
/SailingShip.class
/Scroll.class
/Shield.class
/SpaceShip$ShipFlag.class
/SpaceShip.class
/SpellHolder.class
/TechComponent$ShipDir.class
/TechComponent.class
/Technical$TechCommand.class
/Technical$TechType.class
/Technical.class
/Wand.class
/Weapon.class
/Wearable$1.class
/Wearable$2.class
/Wearable$CODES.class
/Wearable.class
/Computer.class
/Software.class
/DeckOfCards.class
/FuelConsumer.class
/HandOfCards.class
/PlayingCard.class
/PowerGenerator.class
/PowerSource.class
/ShipEngine.class
/ShipWarComponent.class
